# Environment 'development', 'test', or 'production'
ENV=development
APP_VERSION=0.0.1

APP_LOG_LEVEL=INFO

DIMS_ENDPOINT=https://ltsds-cloud-dev-1.lib.harvard.edu:10580
DTS_ENDPOINT=https://ltsds-cloud-dev-1.lib.harvard.edu:10581

# Dataverse Vars
DATAVERSE_ENDPOINT=http://dvn-dev-hdc.lib.harvard.edu
ADMIN_USER_API_TOKEN=

# Transfer Queue
MQ_TRANSFER_HOST=dev_activemq
MQ_TRANSFER_PORT=61614
MQ_TRANSFER_USER=ims
MQ_TRANSFER_PASSWORD=XXX
MQ_TRANSFER_QUEUE_TRANSFER_READY=/queue/transfer-ready
